.invoice-preview .table th:first-child, .invoice-preview .table td:first-child, .invoice-edit .table th:first-child, .invoice-edit .table td:first-child, .invoice-add .table th:first-child, .invoice-add .table td:first-child {
    padding-left: 2.5rem !important;
}

.table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th, .table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {
    background-color: #F3F2F7 !important;
}

.table th, .table td {
    padding: 15px 20px !important;
    vertical-align: middle !important;
}


.form-control:focus{
    box-shadow: 0 3px 10px 0 rgb(34 41 47 / 10%) !important;
}